.landing-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('/src/img/landing.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
}

.welcome-header {
  font-size: 70px;
  margin-bottom: 20px;
}

.landing-button {
  background-color: #92899E !important;
  border: none !important;
}